@model IEnumerable<Streamus.Web.ViewModels.Shared.MediaItemViewModel>

@foreach (var mediaItem in Model)
{
	<div class="row">
		<div class="col-md-12">
			@Html.DisplayFor(item => mediaItem)
		</div>
	</div>
}

<script>
	$(function () {
		var embedPlayer = function (evt) {
			var $this = $(this);
			var videoId = $this.data("id");

			var $parent = $this.parents(".panel-body:first");
			var $videoContainer = $parent.find(".video-container");
			var $img = $videoContainer.find("img:first");
			if ($img.is(":visible")) {
				window.youtube.embed($videoContainer, videoId);

				$img.hide();
				$this.text("Stop");
				$this.removeClass("btn-primary");
				$this.addClass("btn-danger");
			}
			else {
				$videoContainer.find("iframe:first").remove();
				$img.show();
				$this.text("Play");
				$this.removeClass("btn-danger");
				$this.addClass("btn-primary");
			}

			if (evt.preventDefault) {
				evt.preventDefault();
			}

			return false;
		};

		$(".listen").click(embedPlayer);

		$(".add-playlist, .add-collection, .add-mediaitem").click(function () {
			var $this = $(this);

			var isPlaylistAdd = $this.hasClass("add-playlist");
			var isCollectionAdd = $this.hasClass("add-collection");
			var isMediaItemAdd = $this.hasClass("add-mediaitem");

			var title = "";
			var contentUrl = "";
			if (isPlaylistAdd) {
				title = "Add video to playlist";
				contentUrl = "/Playlists/Add";
			}
			else if (isCollectionAdd) {
				title = "Add video to collection";
				contentUrl = "/Collections/Add";
			}
			else if (isMediaItemAdd) {
				var videoId = $this.data("id");
				var url = "/MediaItems/Add";

				var $kendoNotification = $("<div id='popup-notification'>");
				$(document.body).append($kendoNotification);
				var popupNotification = $kendoNotification.kendoNotification({
					autoHideAfter: 1000,
					hide: function () {
						this.destroy();
					}
				}).data("kendoNotification");

				$.post(url, { videoId: videoId }, function (res) {
					var result = res.split(":");

					if (result[0] === "OK") {
						popupNotification.show(result[1]);
					}
					else {
						popupNotification.show(result[1], "error");
					}
				});

				return false;
			}

			var $window = $("<div id='add-form'>");
			$(document.body).append($window);

			$window.kendoWindow({
				width: "600px",
				title: title,
				content: contentUrl,
				modal: true,
				visible: false,
				refresh: function () {
					this.center();
					this.open();
				},
				close: function () {
					this.destroy();
				}
			});
		});
	});
</script>