@model IEnumerable<Streamus.Web.ViewModels.Shared.MediaItemViewModel>

@foreach (var mediaItem in Model)
{
	<div class="row">
		<div class="col-md-12">
			@Html.DisplayFor(item => mediaItem)
		</div>
	</div>
}

<script>
	$(function () {
		var embedPlayer = function (evt) {
			var $this = $(this);
			var videoId = $this.data("id");

			var $parent = $this.parents(".panel-body:first");
			var $videoContainer = $parent.find(".video-container");
			var $img = $videoContainer.find("img:first");
			if ($img.is(":visible")) {
				var $iframe = $("<iframe>");
				$iframe.attr("src", "//www.youtube.com/embed/" + videoId + "?autoplay=1");
				$iframe.attr("frameborder", "0");
				$iframe.attr("allowfullscreen", "allowfullscreen");
				$videoContainer.append($iframe);

				$img.hide();
				$this.text("Stop");
				$this.removeClass("btn-primary");
				$this.addClass("btn-danger");
			}
			else {
				$videoContainer.find("iframe:first").remove();
				$img.show();
				$this.text("Play");
				$this.removeClass("btn-danger");
				$this.addClass("btn-primary");
			}

			if (evt.preventDefault) {
				evt.preventDefault();
			}

			return false;
		};

		$(".listen").click(embedPlayer);

		$(".add-playlist, .add-collection, .add-mediaitem").click(function () {
			var $this = $(this);

			var isPlaylistAdd = $this.hasClass("add-playlist");
			var isCollectionAdd = $this.hasClass("add-collection");
			var isMediaItemAdd = $this.hasClass("add-mediaitem");

			var title = "";
			var contentUrl = "";
			if (isPlaylistAdd) {
				title = "Add video to playlist";
				contentUrl = "/Playlists/Add";
			}
			else if (isCollectionAdd) {
				title = "Add video to collection";
				contentUrl = "/Collections/Add";
			}
			else if (isMediaItemAdd) {
				title = "Add video to media items";
				contentUrl = "/MediaItems/Add";
			}

			var $window = $("<div id='add-form'>");
			$(document.body).append($window);

			$window.kendoWindow({
				width: "615px",
				title: title,
				content: contentUrl,
				modal: true,
				visible: false,
				close: function () {
					this.destroy();
				}
			}).data("kendoWindow").center().open();;
		});
	});
</script>