@model IEnumerable<Streamus.Web.ViewModels.Shared.CollectionViewModel>
<h2 class="text-center">Collections:</h2>
@(Html.Kendo().ListView(Model)
		.Name("collectionsList")
		.TagName("div")
		.ClientTemplateId("collectionsListTemplate")
		.DataSource(dataSource =>
		{
			dataSource.Read(read => read.Action("Read", "Collections"));
			dataSource.PageSize(4);
		})
		.Pageable()
		.Events(e => e
			  .DataBound(
			@<text>
				function() {
					window.attachEvents();
				}
			</text>)
              .Change(
			@<text>
				function() {
				//Handle the change event inline
				}
			</text>)
			  )
)

<script type="text/x-kendo-tmpl" id="collectionsListTemplate">
	<div class="row top10 bottom10">
		<div class="col-md-10">
			<div>
				<label style="padding-left: 20px; max-width: 190px" class="text-overflow">${Name}</label>
				<a class="btn-mediaitem-load btn btn-primary btn-sm pull-right" data-id="${Id}">Load</a>
			</div>
		</div>
	</div>
</script>