@{
	ViewBag.Title = "Player Page";
}

<div class="row top15">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<h5>Player</h5>
			</div>
			<div class="panel-body">
				<div class="player text-center">Nothing loaded!</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		window.attachEvents = function () {
			var $mediaItems = $("#mediaItemsList .btn-mediaitem-load").off();
			var $playlists = $("#playlistsList .btn-playlist-load").off();

			var $videoContainer = $(".player:first");
			if ($mediaItems.length) {
				$mediaItems.click(function () {
					var videoId = $(this).data("id");
					$videoContainer.html("");
					window.youtube.embed($videoContainer, videoId, { width: 800, height: 400 });
				});
			}
		};
	});
</script>

<div class="row">
	<div class="col-md-4">
		@Html.Action("List", "Playlists")
	</div>
	<div class="col-md-4">
		@Html.Action("List", "Collections")
	</div>
	<div class="col-md-4">
		@Html.Action("List", "MediaItems")
	</div>
</div>