@using Streamus.Web.Areas.Administration.ViewModel;
@{
	const string ControllerName = GlobalConstants.MediaItems;
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<MediaItemViewModel>(ControllerName, m => m.Id))