@using Streamus.Web.ViewModels.Shared;
@{
	const string ControllerName = GlobalConstants.MediaItems;
	ViewBag.Title = ControllerName;

	Action<Kendo.Mvc.UI.Fluent.GridColumnFactory<MediaItemViewModel>> columns = cols =>
	{
		cols.Bound(item => item.Id).Hidden();
		cols.Bound(item => item.VideoId);
		cols.Bound(item => item.Title);
		cols.Bound(item => item.Duration);
		cols.Bound(item => item.MQImageUrl).ClientTemplate("<img style='display: block;' width='160' height='80' src='#=MQImageUrl#' alt='' />");
		cols.Bound(item => item.HQImageUrl).ClientTemplate("<img style='display: block;' width='160' height='80' src='#=MQImageUrl#' alt='' />");
		cols.Command(c =>
		{
			c.Edit();
			c.Destroy();
		}).Title("Commands");
	};
}
<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<MediaItemViewModel>(ControllerName, m => m.Id, columns))