@model Feed<Video>
@{
	int playerId = 0;
}
<div class="row">
	@foreach (var video in Model.Entries.Take(5))
	{
		playerId++;

		<div class="col-md-12">
			<div style="padding: 20px">
				<p>
					<span>@video.Title</span>
					<span class="pull-right">Duration: @video.Media.Duration.Seconds sec</span>
				</p>
				<div id="jwplayer_@playerId"></div>
				<script>
					jwplayer("jwplayer_@playerId").setup({
						file: "http://www.youtube.com/watch?v=@video.Media.VideoId.Value",
						width: "100%",
						height: 20,
						displaytitle: "@video.Title"
					});
				</script>
				<div>
					@Html.ActionLink("Add", "Add", "MediaItems", new { area = "UserData" })
				</div>
			</div>
		</div>
	}
</div>