@using Streamus.Web.Areas.Administration.ViewModel;
@{
	const string ControllerName = GlobalConstants.Collections;
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<CollectionViewModel>(ControllerName, m => m.Id))